<html>
  <head>
    <title>New</title>
  </head>
  <body>
    <%- include('navbar')%>
    <h1>Send a new message</h1>
    <form method="POST" action="/new">
      <label for="name">Name:</label><br />
      <input type="text" id="name" name="name" /><br />
      <label for="message">Message:</label><br />
      <input type="text" id="message" name="message" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
