<html>
  <head>
    <title>Index</title>
  </head>
  <body>
    This is the index <% messages.forEach((message) => { %>
    <div>
      <ul>
        <li>Text: <%=message.text%></li>

        <li>User: <%=message.user%></li>

        <li>Date: <%=message.added%></li>

        <li>
          <a href="/messages/<%=message.id%>">Open Message</a>
        </li>
      </ul>
    </div>

    <% }) %>
    <a href="/new">Create new message</a>
  </body>
</html>
