<html>
  <head>
    <title>Message</title>
  </head>
  <body>
    <%- include('navbar')%>
    <h1>Message Details</h1>

    <ul>
      <li>Text: <%=message.text%></li>

      <li>User: <%=message.username%></li>

      <li>Date: <%=message.added%></li>
    </ul>
  </body>
</html>
